body {
  background-color: white;
}
.cards {
  display: flex;
  flex-wrap: no-wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #efefef;
  max-width: 960px;
  position: fixed;
  box-shadow: 0px 5px 4px 0px #a6a3a3 inset;
}
.card-numbers {
  width: 80%;
  position: relative;
  top: 6px;
}
.card-buttons {
  display: flex;
  width: 20%;
  flex-direction: column;
}
.cards-rows {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-box {
  width: 33%;
  max-height: 33%;
  height: 180px;
  text-align: center;
  vertical-align: middle !important;
  margin-top: 20;
}
.card-number-value {
  vertical-align: middle;
  font-size: 90px;
  font-weight: bolder;
  color: white;
  position: relative;
  top: 15%;
}

.btn-shuffel {
  background-color: #72c3dc;
  padding: 13px;
  border: 0px;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 5px #5693a5;
  color: white;
}
.btn-parent {
  padding-top: 10px;
  width: 80%;
  position: relative;
  right: -4%;
  top: 5%;
}
.btn-sort {
  top: 11px;
  color: white;
  position: relative;
  background-color: #72c3dc;
  padding: 13px;
  border: 0px;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 5px #5693a5;
}
